/* #bottom-div{
    position: fixed;
    top: 100px;
    left: 0;
    top: 80vh;
    background-color: rgb(66, 10, 22);
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    width: 100vw;

} */
#bottom-div{
    position:absolute;
    background-color: #00BFBF; /* Darker cyan color */
    box-shadow: 5px 5px 5px;
    padding-bottom: 3%;
    padding-top: 1%;
    color: white;
    border: none;
    position: fixed;
    bottom: 2px;
    left: 2px;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

button, a{
    /* background-color: rgb(66, 10, 22);
    max-width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw; */
    display: inline-block;
    padding: 10px 20px;
    background-color: #00BFBF; /* Darker cyan color */
    color: #FFFFFF; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    
}
button:hover{
    background-color: #00BFBF; /* Darker cyan color */}


