form{
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: darkcyan;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
}
div{
    padding: 20px;
    will-change: auto;
}
.inner-div{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.inner-div textarea {
    width: 140px;
    height: 45px;
    scroll-behavior: auto;
}