.completed-courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color: rgb(210, 233, 233);
  margin-bottom: 4px;
}
.completed-courses:hover{
  background-color: rgb(179, 230, 230);
}

.subject-item {
  background-color: darkcyan;
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  background-color: cyan;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.add-subject-button {
  background-color: darkcyan;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-subject-button:hover {
  background-color: #008b8b; /* Darker shade of darkcyan */
}

