ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    max-width: 65%;
  }
  
  p {
    margin: 0;
  }
  
 
  ul li::before {
    content: "▸";
    color: #ff6600;
    margin-right: 10px;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  }