<ul>
    <li>
      <p>
        Hello, my name is Mohamed Kassoum. I am a fullstack developer and I am excited to showcase my learning process through this website. I have a passion for creating robust and efficient web applications that deliver exceptional user experiences.
      </p>
    </li>
    
    <li>
      <p>
        For the front end development, I will be utilizing Angular, a powerful and popular framework that allows me to build dynamic and responsive user interfaces. Angular provides a rich set of tools and features that enable me to create modern and scalable web applications.
      </p>
    </li>
    
    <li>
      <p>
        On the backend, I will be using Spring Boot, a Java-based framework, to develop the server-side logic and APIs for my website. Spring Boot offers a rapid development environment and seamless integration with various technologies, making it an ideal choice for building robust and scalable backend systems.
      </p>
    </li>
    
    <li>
      <p>
        To store and manage data, I will be utilizing MongoDB, a NoSQL database that offers flexibility and scalability. MongoDB's document-oriented approach allows me to work with data in a more dynamic and agile manner, accommodating changes and growth in my application's data structure.
      </p>
    </li>
    
    <li>
      <p>
        Additionally, I plan to dockerize this project to encapsulate the application and its dependencies into containers, providing consistency and portability across different environments. Docker simplifies deployment and ensures that the project runs consistently across various platforms.
      </p>
    </li>
    
    <li>
      <p>
        Finally, I will be deploying this project on the Amazon Cloud, leveraging their robust infrastructure and services. Amazon Web Services (AWS) offers a wide range of scalable and reliable cloud services that will enable me to deploy and manage my application securely and efficiently.
      </p>
    </li>
    
    <li>
      <p>
        Thank you for visiting my website! Feel free to explore and follow along as I document my journey as a fullstack developer.
      </p>
    </li>
  </ul>
  